<html>

<head>
    <title>exam</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>
        [v-cloak] {
            display: none;
        }

        .checked {
            background-color: rgb(152, 172, 196);
        }

        .rightAns {
            background-color: #239a3b;
            color: #fff;
        }

        #app {
            width: 50%;
            margin: 0 auto;
        }

        .buttonWrap {
            text-align: center;
        }

        button {
            color: #fff;
            border: none;
            border-radius: 5px;
            background-color: #239a3b;
            box-shadow: 1px 1px 2px 2px #ddd;
            padding: 5px 15px;
            outline: none;
        }

        select {
            border: 1px solid #239a3b;
            border-radius: 5px;
            padding: 2px;
            outline: none;
        }

        .time {
            padding: 10px 0;
            position: relative;
        }

        .index {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            background: #7bc96f;
            border-radius: 50%;
            font-size: 12px;
            text-align: center;
            color: #fff;
            line-height: 20px;
        }
    </style>
</head>

<body>
    <div v-cloak id="app">
        <div v-if="isPhone">暂未开发移动端，请至电脑端使用哦</div>
        <div v-show="hasAnalyse && (scene===0 || scene === 2)" id="chart" style="width:100%;height:400px;"></div>
        <div v-show="scene === 0" class="buttonWrap">
            <button @click="random">随机生成考题</button>
            <button @click="start">考试</button>
            <select v-if="obj.length >= 50" v-model="range">
                <option v-for="i in Math.floor(obj.length / 50)" :value="i * 50">{{i * 50}}</option>
                <option value="obj.length">全部</option>
            </select>
        </div>
        <div v-if="scene===2" class="buttonWrap">
            总得分 {{score}}
            <button @click="reset">重新考试</button>
            <button @click="random">随机生成考题</button>
            <button @click="showWrong">查看错题</button>
        </div>
        <div v-if="scene===3">
            总得分 {{score}}
            <div v-for="(item,index) in obj" v-if="item.sl !== item.ans">
                <hr>
                <span class="index">{{item.index}}</span>
                <div v-html="item.qes"></div>
                <div v-for="i in item.options">
                    <div v-html="i.innerHTML" :class="{checked:item.sl.indexOf(i.innerHTML.match(/[A-Z]\./)[0].substring(0,1)) > -1,rightAns:item.ans.indexOf(i.innerHTML.match(/[A-Z]\./)[0].substring(0,1)) > -1}"></div>
                </div>
            </div>
            <button @click="reset">重新考试</button>
        </div>
        <template v-if="scene === 1">
            <div class="buttonWrap time">
                <span class="index">{{current + 1}}</span> {{Math.floor(time / 60 / 60)}}:{{Math.floor(time / 60 % 60)}}:{{Math.floor(time %
                60)}}
            </div>
            <div v-html=" obj[current].qes"></div>
            <div v-for="(i,index) in obj[current].options">
                <div v-html="i.innerHTML" :class="obj[current].sl.indexOf(i.innerHTML.match(/[A-Z]\./)[0].substring(0,1)) > -1 ? 'checked' : ''"></div>
            </div>
        </template>
    </div>
    <iframe src="" id="exam" onload="loaded()" style="display: none;"></iframe>
    <script src="./exam.js" language="JavaScript"></script>
    <script src="./vue.js" language="JavaScript"></script>
    <script src="./localforage.min.js" language="JavaScript"></script>
    <script src="echarts.min.js"></script>
    <script>
        let app, exam;
        document.onkeyup = function (evt) {
            // console.log(evt.keyCode)
            switch (evt.keyCode) {
                case (37):
                case (38):
                    app.current = app.current === 0 ? app.current : app.current - 1;
                    break;
                case (13):
                case (39):
                case (40):
                    if (app.obj[app.current].sl !== '') {
                        app.current++;
                        if (app.current === app.obj.length) {
                            app.showResult();
                        }
                    }
                    break;
                case (97):
                case (49):
                    choose(0, 'A')
                    break;
                case (98):
                case (50):
                    choose(1, 'B')
                    break;
                case (99):
                case (51):
                    choose(2, 'C')
                    break;
                case (100):
                case (52):
                    choose(4, 'D')
                    break;
                case (101):
                case (53):
                    choose(5, 'E')
                    break;
                case (102):
                case (54):
                    choose(6, 'F')
                    break;
                case (103):
                case (55):
                    choose(7, 'G')
                    break;
                case (104):
                case (56):
                    choose(8, 'H')
                    break;
                case (105):
                case (57):
                    choose(9, 'I')
                    break;
                default:
                    break;
            }
        }
        function loaded() {
            exam = new Exam(document.getElementById("exam").contentWindow.document.body);
            app = new Vue({
                el: '#app',
                data: {
                    scene: 0,
                    current: 0,
                    time: 2 * 60 * 60,
                    obj: exam.obj,
                    score: 0,
                    per: 20,
                    interval: null,
                    range: 50,
                    hasAnalyse:false,
                    isPhone: (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i).test(navigator.userAgent),
                    op: {
                        tooltip: {
                            trigger: "axis"
                        },
                        grid: {
                            x: 50
                        },
                        legend: {
                            data: [
                                "score"
                            ]
                        },
                        xAxis: [
                            {
                                type: "category",
                                data: [],
                                axisLine: {
                                    onZero: false,
                                    show: false
                                },
                                axisLabel: {
                                    show: true,
                                    rotate: 30
                                },
                                axisTick: {
                                    show: false
                                },
                                splitLine: {
                                    show: false
                                },
                                splitArea: {
                                    show: true
                                }
                            }
                        ],
                        yAxis: [
                            {
                                type: "value",
                                splitLine: {
                                    show: false
                                },
                                axisLine: {
                                    show: false
                                },
                                splitArea: {
                                    show: false
                                }
                            }
                        ],
                        series: [
                            {
                                name: "score",
                                type: "line",
                                data: [],
                                itemStyle: {
                                    normal: {
                                        borderRadius: 10,
                                        color: "rgb(57, 178, 169)"
                                    }
                                },
                                markLine: {
                                    symbol: 'circle',
                                    symbolSize: 0,
                                    lineStyle: {
                                        type: 'solid',
                                        color: '#000'
                                    },
                                    animation: false,
                                    data: [
                                        {
                                            name: 'required',
                                            itemStyle: {
                                                normal: {
                                                    show: true,
                                                    color: '#4c5336'
                                                }
                                            },
                                            yAxis: 0
                                        }
                                    ]
                                }
                            }
                        ]
                    }
                },
                methods: {
                    reset(random) {
                        if (random !== true) {
                            exam = new Exam(document.getElementById("exam").contentWindow.document.body);
                            this.obj = exam.obj;
                        }
                        this.current = 0;
                        this.time = 2 * 60 * 60;
                        this.score = 0;
                        this.scene = 1;
                        this.interval = this.countDown();
                    },
                    showResult() {
                        this.scene = 2;
                        clearInterval(this.interval);
                        this.score = exam.score(this.per);
                        localforage.getItem('analyse').then(val => {
                            if (val) {
                                val.push({ time: format(new Date()), score: this.score, count: exam.score() })
                                localforage.setItem('analyse', val);
                            } else {
                                localforage.setItem('analyse', [{ time: format(new Date()), score: this.score, count: exam.score() }]);
                            }
                        });
                        setTimeout(() => {
                            this.setChart();
                        }, 1000);
                    },
                    showWrong() {
                        this.scene = 3;
                    },
                    countDown() {
                        return setInterval(() => {
                            if (this.time <= 0) {
                                clearInterval(this.interval);
                                this.showResult();
                            } else {
                                this.time--
                            }
                        }, 1000)
                    },
                    random() {
                        this.scene = 1;
                        this.reset(true);
                        let obj = new Exam(document.getElementById("exam").contentWindow.document.body).obj;
                        this.obj = obj.shuffle().splice(0, obj.length >= 50 ? this.range : obj.length);
                    },
                    start() {
                        this.scene = 1;
                        this.interval = this.countDown();
                    },
                    setChart() {
                        localforage.getItem('analyse').then(val => {
                            if (val) {
                                this.hasAnalyse=true;
                                this.op.xAxis[0].data = [];
                                this.op.series[0].data = [];
                                val = val.slice(0, 10);
                                val.forEach(el => {
                                    this.op.xAxis[0].data.push(el.time)
                                    this.op.series[0].data.push(el.count)
                                });
                                this.op.series[0].markLine.data[0].yAxis = this.obj.length * 0.6;
                                this.op.yAxis[0].max = this.obj.length;
                                echarts.init(document.getElementById('chart')).setOption(this.op)
                                console.log(this.op)
                            }
                        });
                    }
                },
                watch: {
                },
                mounted() {
                    this.setChart();
                    console.log(this.obj)
                }
            });
        }
        function choose(len, num) {
            if (app.scene === 1 && app.obj[app.current].options && app.obj[app.current].options.length >= len) {
                let index = app.obj[app.current].sl.indexOf(num);
                app.obj[app.current].sl = index > -1 ? app.obj[app.current].sl.replace(num, '') : app.obj[app.current].sl + num;
            }
        }

        document.getElementById("exam").src = location.href + "exam3.html";

    </script>
</body>

</html>
